<style>
  .header-container {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-container h1 {
    color: #333;
    margin: 0;
  }

  .login-buttons {
    display: flex;
    gap: 10px;
  }

  .login-button, .logout-button {
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  .edit-button {
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #28a745; /* Choose a suitable color */
    cursor: pointer;
  }
  .login-button {
    background-color: #00fff3;
  }

  .logout-button {
    background-color: #ff4c4c;
  }
</style>
<!--
<div class="header-container">
  <h1>Welcome to the Smart Event Manager!</h1>
 
  <% if current_account   %>
    <%= link_to 'Edit Profile', edit_account_registration_path %>
    <%= button_to "Logout", destroy_account_session_path, method: :delete %>
  <% else %>
    <%= button_to "Log in", new_account_session_path %>
    <%= link_to 'Sign Up', new_account_registration_path  %>
  <% end %>
  -->
  <h1>All Events</h1>

<%= link_to 'View All Events', events_path %> <!-- Add this line -->

<table>
</div>
